* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Newsreader", serif;
}
body {
  background: url(./resimler/image.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}

.box h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(255, 143, 143);
}

.input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0px;
  position: relative;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 100%;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 40px;
  padding-left: 15px;
  font-size: 20px;
  color: #ff8f8f;
}

input::placeholder {
  color: #ff8f8f;
  font-weight: 600;
}

i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff8f8f;
}

.remember-box {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
label {
  user-select: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}
input[type="checkbox"] {
  accent-color: #fff;
}

button {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 32px;
  font-weight: 600;
  color: #ff8f8f;
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.2);
}

.register-box {
  text-align: center;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #fff;
  font-size: 17px;
}

span {
  color: #fff;
  font-size: 17px;
}
